/zadanie1/out
/zadanie8/dist-newstyle
/zadanie3/out
/zadanie3/.vscode
/zadanie3/.bsp
/zadanie3/.metals
/zadanie4/out
/zadanie4/.vscode
/zadanie4/.bsp
/zadanie4/.metals
/zadanie5/out
/zadanie5/.vscode
/zadanie5/.bsp
/zadanie5/.metals